<!DOCTYPE html>
<html class=" responsive" lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="#171a21">
		<title>Войти</title>
	<link rel="shortcut icon" href="https://store.steampowered.com/favicon.ico" type="image/x-icon">

	
	
	<link href="https://store.akamai.steamstatic.com/public/shared/css/motiva_sans.css?v=Rc2hpzg2Ex3T&amp;l=russian" rel="stylesheet" type="text/css" >
<link href="https://store.akamai.steamstatic.com/public/shared/css/shared_global.css?v=MIj8Vqg809aA&amp;l=russian" rel="stylesheet" type="text/css" >
<link href="https://store.akamai.steamstatic.com/public/shared/css/buttons.css?v=6PFqex5UPprb&amp;l=russian" rel="stylesheet" type="text/css" >
<link href="https://store.akamai.steamstatic.com/public/css/v6/store.css?v=-l1VbI4aQeY9&amp;l=russian" rel="stylesheet" type="text/css" >
<link href="https://store.akamai.steamstatic.com/public/css/styles_linux.css?v=.srZuTsIiIsbq" rel="stylesheet" type="text/css" >
<link href="https://store.akamai.steamstatic.com/public/css/v6/cart.css?v=02iSfWOlLOcT&amp;l=russian" rel="stylesheet" type="text/css" >
<link href="https://store.akamai.steamstatic.com/public/css/v6/browse.css?v=7hoqLVcZ7KVq&amp;l=russian" rel="stylesheet" type="text/css" >
<link href="https://store.akamai.steamstatic.com/public/shared/css/login.css?v=ORh-yE2DFRec&amp;l=russian" rel="stylesheet" type="text/css" >
<link href="https://store.akamai.steamstatic.com/public/shared/css/shared_responsive.css?v=qzosl95jy69-&amp;l=russian" rel="stylesheet" type="text/css" >
			<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/shared/javascript/jquery-1.8.3.min.js?v=.TZ2NKhB-nliU" ></script>
<script type="text/javascript">$J = jQuery.noConflict();</script><script type="text/javascript">VALVE_PUBLIC_PATH = "https:\/\/store.akamai.steamstatic.com\/public\/";</script><script type="text/javascript" src="https://store.akamai.steamstatic.com/public/shared/javascript/tooltip.js?v=.9Z1XDV02xrml" ></script>

<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/shared/javascript/shared_global.js?v=bNWjAewtQyT6&amp;l=russian" ></script>

<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/javascript/main.js?v=1M0k4ZNteECV&amp;l=russian" ></script>

<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/javascript/dynamicstore.js?v=xNQzUAeGC-W8&amp;l=russian" ></script>

<script type="text/javascript">Object.seal && [ Object, Array, String, Number ].map( function( builtin ) { Object.seal( builtin.prototype ); } );</script>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(event) {
				$J.data( document, 'x_readytime', new Date().getTime() );
				$J.data( document, 'x_oldref', GetNavCookie() );
				SetupTooltips( { tooltipCSSClass: 'store_tooltip'} );
		});</script>
		
		<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/shared/javascript/shared_responsive_adapter.js?v=CKBWQKcL7QQC&amp;l=russian" ></script>

						<meta name="twitter:card" content="summary_large_image">
			
	<meta name="twitter:site" content="@steam" />

						<meta property="og:title" content="Войти">
					<meta property="twitter:title" content="Войти">
					<meta property="og:type" content="website">
					<meta property="fb:app_id" content="105386699540688">
					<meta property="og:site" content="Steam">
			
	
			<link rel="image_src" href="https://store.akamai.steamstatic.com/public/shared/images/responsive/share_steam_logo.png">
		<meta property="og:image" content="https://store.akamai.steamstatic.com/public/shared/images/responsive/share_steam_logo.png">
		<meta name="twitter:image" content="https://store.akamai.steamstatic.com/public/shared/images/responsive/share_steam_logo.png" />
					<meta property="og:image:secure" content="https://store.akamai.steamstatic.com/public/shared/images/responsive/share_steam_logo.png">
		
	
	
	
	</head>
<body class="login v6 responsive_page">




<div class="responsive_page_frame with_header">
						<div class="responsive_page_menu_ctn mainmenu">
				<div class="responsive_page_menu"  id="responsive_page_menu">
										<div class="mainmenu_contents">
						<div class="mainmenu_contents_items">
															<a class="menuitem" href="https://store.steampowered.com/login/?redir=login%2F%3Fredir%3D%26redir_ssl%3D1%26snr%3D1_4_4__global-header&redir_ssl=1&snr=1_60_4__global-header">
									Войти								</a>
								<a class="menuitem supernav" href="https://store.steampowered.com/?snr=1_60_4__global-responsive-menu" data-tooltip-type="selector" data-tooltip-content=".submenu_store">
		Магазин	</a>
	<div class="submenu_store" style="display: none;" data-submenuid="store">
		<a class="submenuitem" href="https://store.steampowered.com/?snr=1_60_4__global-responsive-menu">Главная</a>
					<a class="submenuitem" href="https://store.steampowered.com/explore/?snr=1_60_4__global-responsive-menu">Рекомендации</a>
				<a class="submenuitem" href="https://steamcommunity.com/my/wishlist/">Список желаемого</a>
		<a class="submenuitem" href="https://store.steampowered.com/points/shop/?snr=1_60_4__global-responsive-menu">Магазин очков</a>	
       	<a class="submenuitem" href="https://store.steampowered.com/news/?snr=1_60_4__global-responsive-menu">Новости</a>
					<a class="submenuitem" href="https://store.steampowered.com/stats/?snr=1_60_4__global-responsive-menu">Статистика</a>
					</div>


			<a class="menuitem supernav" style="display: block" href="https://steamcommunity.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_community">
			Сообщество		</a>
		<div class="submenu_community" style="display: none;" data-submenuid="community">
			<a class="submenuitem" href="https://steamcommunity.com/">Главная</a>
			<a class="submenuitem" href="https://steamcommunity.com/discussions/">Обсуждения</a>
			<a class="submenuitem" href="https://steamcommunity.com/workshop/">Мастерская</a>
			<a class="submenuitem" href="https://steamcommunity.com/market/">Торговая площадка</a>
			<a class="submenuitem" href="https://steamcommunity.com/?subsection=broadcasts">Трансляции</a>
											</div>
		

	
	
	<a class="menuitem" href="https://help.steampowered.com/ru/">
		Поддержка	</a>

							<div class="minor_menu_items">
																								<div class="menuitem change_language_action">
									Изменить язык								</div>
																																	<div class="menuitem" onclick="Responsive_RequestDesktopView();">
										Полная версия									</div>
															</div>
						</div>
						<div class="mainmenu_footer_spacer  "></div>
						<div class="mainmenu_footer">
															<div class="mainmenu_footer_logo"><img src="https://store.akamai.steamstatic.com/public/shared/images/responsive/logo_valve_footer.png"></div>
								© Valve Corporation. Все права защищены. Все торговые марки являются собственностью соответствующих владельцев в США и других странах.								<span class="mainmenu_valve_links">
									<a href="https://store.steampowered.com/privacy_agreement/?snr=1_60_4__global-responsive-menu" target="_blank">Политика конфиденциальности</a>
									&nbsp;| &nbsp;<a href="http://www.valvesoftware.com/legal.htm" target="_blank">Правовая информация</a>
									&nbsp;| &nbsp;<a href="https://store.steampowered.com/subscriber_agreement/?snr=1_60_4__global-responsive-menu" target="_blank">Соглашение подписчика Steam</a>
									&nbsp;| &nbsp;<a href="https://store.steampowered.com/steam_refunds/?snr=1_60_4__global-responsive-menu" target="_blank">Возвраты</a>
								</span>
													</div>
					</div>
									</div>
			</div>
		
		<div class="responsive_local_menu_tab">

		</div>

		<div class="responsive_page_menu_ctn localmenu">
			<div class="responsive_page_menu"  id="responsive_page_local_menu">
				<div class="localmenu_content">
				</div>
			</div>
		</div>



					<div class="responsive_header">
				<div class="responsive_header_content">
					<div id="responsive_menu_logo">
						<img src="https://store.akamai.steamstatic.com/public/shared/images/responsive/header_menu_hamburger.png" height="100%">
											</div>
					<div class="responsive_header_logo">
						<a href="https://store.steampowered.com/?snr=1_60_4__global-responsive-menu">
															<img src="https://store.akamai.steamstatic.com/public/shared/images/responsive/header_logo.png" height="36" border="0" alt="STEAM">
													</a>
					</div>
				</div>
			</div>
		
		<div class="responsive_page_content_overlay">

		</div>

		<div class="responsive_fixonscroll_ctn nonresponsive_hidden ">
		</div>
	
	<div class="responsive_page_content">

		<div id="global_header" data-panel="{&quot;flow-children&quot;:&quot;row&quot;}">
	<div class="content">
		<div class="logo">
			<span id="logo_holder">
									<a href="https://store.steampowered.com/?snr=1_60_4__global-header">
						<img src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" width="176" height="44">
					</a>
							</span>
		</div>

			<div class="supernav_container">
	<a class="menuitem supernav" href="https://store.steampowered.com/?snr=1_60_4__global-header" data-tooltip-type="selector" data-tooltip-content=".submenu_store">
		МАГАЗИН	</a>
	<div class="submenu_store" style="display: none;" data-submenuid="store">
		<a class="submenuitem" href="https://store.steampowered.com/?snr=1_60_4__global-header">Главная</a>
					<a class="submenuitem" href="https://store.steampowered.com/explore/?snr=1_60_4__global-header">Рекомендации</a>
				<a class="submenuitem" href="https://steamcommunity.com/my/wishlist/">Список желаемого</a>
		<a class="submenuitem" href="https://store.steampowered.com/points/shop/?snr=1_60_4__global-header">Магазин очков</a>	
       	<a class="submenuitem" href="https://store.steampowered.com/news/?snr=1_60_4__global-header">Новости</a>
					<a class="submenuitem" href="https://store.steampowered.com/stats/?snr=1_60_4__global-header">Статистика</a>
					</div>


			<a class="menuitem supernav" style="display: block" href="https://steamcommunity.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_community">
			СООБЩЕСТВО		</a>
		<div class="submenu_community" style="display: none;" data-submenuid="community">
			<a class="submenuitem" href="https://steamcommunity.com/">Главная</a>
			<a class="submenuitem" href="https://steamcommunity.com/discussions/">Обсуждения</a>
			<a class="submenuitem" href="https://steamcommunity.com/workshop/">Мастерская</a>
			<a class="submenuitem" href="https://steamcommunity.com/market/">Торговая площадка</a>
			<a class="submenuitem" href="https://steamcommunity.com/?subsection=broadcasts">Трансляции</a>
											</div>
		

	
						<a class="menuitem" href="https://store.steampowered.com/about/?snr=1_60_4__global-header">
				О STEAM			</a>
			
	<a class="menuitem" href="https://help.steampowered.com/ru/">
		ПОДДЕРЖКА	</a>
	</div>
	<script type="text/javascript">
		jQuery(function($) {
			$('#global_header .supernav').v_tooltip({'location':'bottom', 'destroyWhenDone': false, 'tooltipClass': 'supernav_content', 'offsetY':-4, 'offsetX': 1, 'horizontalSnap': 4, 'tooltipParent': '#global_header .supernav_container', 'correctForScreenSize': false});
		});
	</script>

		<div id="global_actions">
			<div id="global_action_menu">
									<div class="header_installsteam_btn header_installsteam_btn_green">

						<a class="header_installsteam_btn_content" href="https://store.steampowered.com/about/?snr=1_60_4__global-header">
							Установить Steam						</a>
					</div>
				
				
														<a class="global_action_link" href="https://store.steampowered.com/login/?redir=login%2F%3Fredir%3D%26redir_ssl%3D1%26snr%3D1_4_4__global-header&redir_ssl=1&snr=1_60_4__global-header">войти</a>
											&nbsp;|&nbsp;
						<span class="pulldown global_action_link" id="language_pulldown" onclick="ShowMenu( this, 'language_dropdown', 'right' );">язык</span>
						<div class="popup_block_new" id="language_dropdown" style="display: none;">
							<div class="popup_body popup_menu">
																																					<a class="popup_menu_item tight" href="?l=schinese&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'schinese' ); return false;">简体中文 (упрощенный китайский)</a>
																													<a class="popup_menu_item tight" href="?l=tchinese&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'tchinese' ); return false;">繁體中文 (традиционный китайский)</a>
																													<a class="popup_menu_item tight" href="?l=japanese&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'japanese' ); return false;">日本語 (японский)</a>
																													<a class="popup_menu_item tight" href="?l=koreana&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'koreana' ); return false;">한국어 (корейский)</a>
																													<a class="popup_menu_item tight" href="?l=thai&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'thai' ); return false;">ไทย (тайский)</a>
																													<a class="popup_menu_item tight" href="?l=bulgarian&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'bulgarian' ); return false;">Български (болгарский)</a>
																													<a class="popup_menu_item tight" href="?l=czech&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'czech' ); return false;">Čeština (чешский)</a>
																													<a class="popup_menu_item tight" href="?l=danish&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'danish' ); return false;">Dansk (датский)</a>
																													<a class="popup_menu_item tight" href="?l=german&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'german' ); return false;">Deutsch (немецкий)</a>
																													<a class="popup_menu_item tight" href="?l=english&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'english' ); return false;">English (английский)</a>
																													<a class="popup_menu_item tight" href="?l=spanish&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'spanish' ); return false;">Español - España (испанский)</a>
																													<a class="popup_menu_item tight" href="?l=latam&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'latam' ); return false;">Español - Latinoamérica (испанский Лат. Ам.)</a>
																													<a class="popup_menu_item tight" href="?l=greek&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'greek' ); return false;">Ελληνικά (греческий)</a>
																													<a class="popup_menu_item tight" href="?l=french&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'french' ); return false;">Français (французский)</a>
																													<a class="popup_menu_item tight" href="?l=italian&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'italian' ); return false;">Italiano (итальянский)</a>
																													<a class="popup_menu_item tight" href="?l=hungarian&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'hungarian' ); return false;">Magyar (венгерский)</a>
																													<a class="popup_menu_item tight" href="?l=dutch&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'dutch' ); return false;">Nederlands (нидерландский)</a>
																													<a class="popup_menu_item tight" href="?l=norwegian&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'norwegian' ); return false;">Norsk (норвежский)</a>
																													<a class="popup_menu_item tight" href="?l=polish&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'polish' ); return false;">Polski (польский)</a>
																													<a class="popup_menu_item tight" href="?l=portuguese&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'portuguese' ); return false;">Português (португальский)</a>
																													<a class="popup_menu_item tight" href="?l=brazilian&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'brazilian' ); return false;">Português-Brasil (бразильский португальский)</a>
																													<a class="popup_menu_item tight" href="?l=romanian&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'romanian' ); return false;">Română (румынский)</a>
																																							<a class="popup_menu_item tight" href="?l=finnish&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'finnish' ); return false;">Suomi (финский)</a>
																													<a class="popup_menu_item tight" href="?l=swedish&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'swedish' ); return false;">Svenska (шведский)</a>
																													<a class="popup_menu_item tight" href="?l=turkish&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'turkish' ); return false;">Türkçe (турецкий)</a>
																													<a class="popup_menu_item tight" href="?l=vietnamese&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'vietnamese' ); return false;">Tiếng Việt (вьетнамский)</a>
																													<a class="popup_menu_item tight" href="?l=ukrainian&redir=&redir_ssl=1&snr=1_4_4__global-header" onclick="ChangeLanguage( 'ukrainian' ); return false;">Українська (украинский)</a>
																									<a class="popup_menu_item tight" href="http://translation.steampowered.com" target="_blank">Помогите нам с переводом Steam</a>
							</div>
						</div>
												</div>
					</div>
			</div>
</div>
<div id="responsive_store_nav_ctn"></div><div id="responsive_store_nav_overlay" style="display:none;"><div id="responsive_store_nav_overlay_ctn"></div><div id="responsive_store_nav_overlay_bottom"></div></div><div data-cart-banner-spot="1"></div>
		<div class="responsive_page_template_content" data-panel="{&quot;autoFocus&quot;:true}" >

			<script type="text/javascript">
</script>
<div class="page_content">
	
	
<div class="page_content_flex">
	<div class="login_left_col ">
		<div class="login_credential_ctn">
			<div class="loginbox login_col_padding">
				<div class="loginbox_left">
					<div class="loginbox_content">
						<div class="login_title">Войти</div>

						<div id="error_display" class="checkout_error" style="display: none;"></div>
						<form name="login" action="/login" method="GET" id="login_form" style="display: none;">
							<div class="login_row">
								<div class="input_title">Имя аккаунта Steam</div>
								<input class="text_field" type="text" name="username" id="input_username"  placeholder="" value="">
							</div>
							<div class="login_row">
								<div class="input_title">Пароль</div>
								<input class="text_field"  type="password" name="password" id="input_password" autocomplete="off" placeholder=""/>
							</div>
							
							
							<div class="login_row" id="captcha_entry" style="display: none;">
																<div id="captcha_image_row">
									<img style="float: left;" id="captchaImg" src="https://store.akamai.steamstatic.com/public/images/blank.gif" border="0" width="206" height="40"  >
									<div id="captchaRefresh">
										<span class="linkspan" id="captchaRefreshLink">Обновить</span>
									</div>
									<div style="clear: left;"></div>
								</div>
								<br>
								<div class="input_title">Введите расположенные выше символы</div>
								<input class="text_field"  id="input_captcha" type="text" name="captcha_text">
							</div>
							<div style="display: none;"><input type="submit" id="clck"></div>
						</form>

						<noscript><p>Чтобы использовать этот сайт, необходимо включить JavaScript</p></noscript>
						<script>
							document.getElementById('login_form').style.display = 'block';
						</script>

						<div class="login_btn_ctn">
							<div id="login_btn_signin">
								<button type="submit" class="btn_blue_steamui btn_medium login_btn" onclick="clck.click()">
									<span>Войти</span>
								</button>
																	<a target="_top" href="https://help.steampowered.com/ru/wizard/HelpWithLogin?redir=store%2Flogin%2F%3Fredir%3D%26redir_ssl%3D1%26snr%3D1_4_4__global-header" id="link_forgot_password">
										Забыли пароль?									</a>
															</div>
							<div id="login_btn_wait" style="display: none;">
										<div class="LoadingWrapper">
			<div class="LoadingThrobber">
				<div class="Bar Bar1"></div>
				<div class="Bar Bar2"></div>
				<div class="Bar Bar3"></div>
			</div>
					</div>
									</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="login_right_col login_col_padding">
		<div class="login_join_desc subtext">Присоединитесь к Steam и откройте для себя тысячи игр.</div>
		<a class="login_join_desc about_link" href="https://store.steampowered.com/about" >Узнать больше</a>
		<img alt="Join Steam" class="join_image" src="https://store.akamai.steamstatic.com/public/shared/images/login/join_pc.png?v=1">
		<div class="login_btn_ctn">
			<div class="subtext">Steam бесплатен и удобен в использовании.</div>
			<a target="_top" href="https://store.steampowered.com/join/?&snr=1_60_4__62" class="btnv6_white_transparent btn_medium">
				<span>Присоединиться к Steam</span>
			</a>
		</div>
	</div>
</div></div>
<!-- End Main Background -->

		</div>	<!-- responsive_page_legacy_content -->

		<div id="footer_spacer" style="" class=""></div>
<div id="footer"  class="">
<div class="footer_content">

    <div class="rule"></div>
				<div id="footer_logo_steam"><img src="https://store.akamai.steamstatic.com/public/images/v6/logo_steam_footer.png" alt="Valve Software" border="0" /></div>
	
    <div id="footer_logo"><a href="http://www.valvesoftware.com" target="_blank" rel="noreferrer"><img src="https://store.akamai.steamstatic.com/public/images/footerLogo_valve_new.png" alt="Valve Software" border="0" /></a></div>
    <div id="footer_text" data-panel="{&quot;flow-children&quot;:&quot;row&quot;}" >
        <div>&copy; 2021 Valve Corporation. Все права защищены. Все торговые марки являются собственностью соответствующих владельцев в США и других странах.</div>
        <div>НДС включён во все цены, где он применим.&nbsp;&nbsp;

            <a href="https://store.steampowered.com/privacy_agreement/?snr=1_44_44_" target="_blank" rel="noreferrer">Политика конфиденциальности</a>
            &nbsp; | &nbsp;
            <a href="https://store.steampowered.com/legal/?snr=1_44_44_" target="_blank" rel="noreferrer">Правовая информация</a>
            &nbsp; | &nbsp;
            <a href="https://store.steampowered.com/subscriber_agreement/?snr=1_44_44_" target="_blank" rel="noreferrer">Соглашение подписчика Steam</a>
            &nbsp; | &nbsp;
            <a href="https://store.steampowered.com/steam_refunds/?snr=1_44_44_" target="_blank" rel="noreferrer">Возвраты</a>
            &nbsp; | &nbsp;
            <a href="https://store.steampowered.com/account/cookiepreferences/?snr=1_44_44_" target="_blank" rel="noreferrer">Файлы cookie</a>

        </div>
					<div class="responsive_optin_link">
				<div class="btn_medium btnv6_grey_black" onclick="Responsive_RequestMobileView()">
					<span>Мобильная версия</span>
				</div>
			</div>
		
    </div>



    <div style="clear: left;"></div>
	<br>

    <div class="rule"></div>

    <div class="valve_links" data-panel="{&quot;flow-children&quot;:&quot;row&quot;}" >
        <a href="http://www.valvesoftware.com/about" target="_blank" rel="noreferrer">О Valve</a>
        &nbsp; | &nbsp;<a href="http://www.valvesoftware.com" target="_blank" rel="noreferrer">Вакансии</a>
        &nbsp; | &nbsp;<a href="http://www.steampowered.com/steamworks/" target="_blank" rel="noreferrer">Steamworks</a>
        &nbsp; | &nbsp;<a href="https://partner.steamgames.com/steamdirect" target="_blank" rel="noreferrer">Дистрибуция Steam</a>
        &nbsp; | &nbsp;<a href="https://help.steampowered.com/ru/?snr=1_44_44_">Служба поддержки</a>
        		&nbsp; | &nbsp;<a href="https://store.steampowered.com/digitalgiftcards/?snr=1_44_44_" target="_blank" rel="noreferrer">Подарочные карты</a>
		&nbsp; | &nbsp;<a href="https://steamcommunity.com/linkfilter/?url=http://www.facebook.com/Steam" target="_blank" rel="noopener"><img src="https://store.akamai.steamstatic.com/public/images/ico/ico_facebook.gif"> Steam</a>
		&nbsp; | &nbsp;<a href="http://twitter.com/steam" target="_blank" rel="noreferrer"><img src="https://store.akamai.steamstatic.com/public/images/ico/ico_twitter.gif"> @steam</a>
            </div>

</div>
</div>
	</div>	<!-- responsive_page_content -->

</div>	<!-- responsive_page_frame -->
</body>
</html>